body {
    background-image: url("/CI/assets/img/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    color: #000000
}

iframe {
    padding-top:10px;
}

p, h1, h2{
    text-align:center;
}